# Large test data files
*.txt
!**/*.md

# Rider / VS
.idea/
.vs/
**/*.user
**/*.suo

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
**/[Oo]bj/
**/[Bb]in/
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/[Xx]64/
**/[Xx]86/

# Temp / sort output
*.tmp
*.bin
